<footer role="contentinfo" id="site-footer">
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
  <a href="https://clustrmaps.com/site/1b08l"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=nDTSka080fF0VQ6-kyxUd0KR4-KiE_tEtMOI2doq1is&cl=ffffff" /></a>
</footer>
